HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

src/main/resources/application-secret.yaml
src/main/resources/data

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
