learning-management-system/HELP.md
target/
!learning-management-system/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

learning-management-system/src/main/resources/.env
learning-management-system/src/main/resources/data
mta_archives
approuter/node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
